<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="%home%\site\wwwroot\venv\Scripts\python.exe"
                      arguments="app.py"
                      stdoutLogEnabled="true"
                      stdoutLogFile="\\?\%home%\LogFiles\python.log"
                      processesPerApplication="16"
                      startupTimeLimit="60"
                      startupRetryCount="2">
            <environmentVariables>
                <environmentVariable name="PORT" value="8000" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
