<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Flask" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform 
      processPath="%HOME%\site\wwwroot\env\Scripts\gunicorn.exe"
      arguments="app:app"
      stdoutLogEnabled="true"
      stdoutLogFile="\\?\%home%\LogFiles\stdout.log"
      startupTimeLimit="60"
      processesPerApplication="4">
      <environmentVariables>
        <environmentVariable name="PORT" value="8000" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
