<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <title>Document</title>
</head>
<body>

  <div id="plotly-div"></div>



  <script type="application/json" id="quarters-data">{{ quarters|tojson|safe }}</script>
  <script type="application/json" id="london-data">{{ london|tojson|safe }}</script>
  <script type="application/json" id="uk-data">{{ uk|tojson|safe }}</script>

  <script>

    let quarters = JSON.parse(document.getElementById('quarters-data').textContent);
    let london = JSON.parse(document.getElementById('london-data').textContent);
    let uk = JSON.parse(document.getElementById('uk-data').textContent);


    let londonData = {
        type: 'scatter',
        mode: 'lines+markers',
        name: 'London',
        x: quarters,
        y: london,
        line: {color: 'blue'}
    };
    
    let ukData = {
        type: 'scatter',
        mode: 'lines+markers',
        name: 'UK',
        x: quarters,
        y: uk,
        line: {color: 'red'}
    };

    let data = [londonData, ukData];

    let layout = {
        title: 'Unemployment Rate Over Time',
        xaxis: {
            title: 'Quarter',
            showgrid: true,
            zeroline: false
        },
        yaxis: {
            title: 'Unemployment Rate',
            showline: false
        }
    };

    Plotly.newPlot('plotly-div', data, layout);
</script>


</body>
</html>