<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <title>London and UK Unemployment Rate</title>
</head>
<body>

  {% extends "base.html" %}

  {% block content %}
      <!-- Specific content for unemployment_chart.html goes here -->
      <h1 class="center">Unemployment Rate UK-London</h1>
      <!-- Your Chart.js code and other specific content for this page -->
      <canvas id="unemploymentChart"></canvas>
  <!-- Define the quarters variable -->
      <script>
        var quartersData = {{ quarters|tojson|safe }};
        var londonData = {{ london|tojson|safe }};
        var ukData = {{ uk|tojson|safe }};
        
        var ctx = document.getElementById('unemploymentChart').getContext('2d');
        var unemploymentChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: quartersData,
                datasets: [{
                    label: 'London',
                    data: londonData,
                    borderColor: 'blue',
                    fill: false
                }, {
                    label: 'UK',
                    data: ukData,
                    borderColor: 'red',
                    fill: false
                }]
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
                scales: {
                    x: {
                        beginAtZero: false
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  {% endblock %}


</body>
</html>